.productcontainer {
  width: 79%;
  background-color: white;
  margin: 10px;
  margin-left: 0;
  padding: 10px;

  &__title {
    font-weight: 500;
  }

  &__cards {
    display: flex;
    flex-wrap: wrap;
  }

  &__sortby {
    padding: 0 10px;
  }
}
