.productcontainer {
  width: 79%;
  background-color: white;
  margin: 10px;
  margin-left: 0;
  padding: 10px;
}

.productcontainer__title {
  font-weight: 500;
}

.productcontainer__cards {
  display: flex;
  flex-wrap: wrap;
}

.productcontainer__sortby {
  padding: 0 10px;
}
