.singlecard {
  width: 25%;
  padding: 10px;
  cursor: pointer;
}

.singlecard__img {
  width: 100%;
  height: 25vw;
  object-fit: cover;
}

.singlecard__data {
  padding: 6px;
  display: flex;
  background-color: white;
  width: 100%;
  position: relative;
  flex-direction: column;
  transition: 200ms ease-in-out;
}

.singlecard:hover > .singlecard__data {
  height: 120px;
  transform: translateY(-20px);
  transition: 200ms ease-in-out;
}

.singlecard__brand {
  font-weight: 500;
  color: grey;
  text-transform: capitalize;
}

.singlecard__name {
  font-size: 14px;
  display: flex;
  justify-content: space-between;
}
